/*------------------------------------------------------------
  Webchatの背景色
------------------------------------------------------------
[data-cognigy-webchat-root] [data-cognigy-webchat].webchat .webchat-chat-history {
    background-color: #e8f4ec;
}
*/

/*------------------------------------------------------------
  Webchatの表示サイズと位置、角の半径
------------------------------------------------------------ */
[data-cognigy-webchat-root] [data-cognigy-webchat] {
    width: 480px;
    height: 75vh;
    bottom: 150px; /* Webchatのチャット用ウィンドウの下端座標 */
    right: 30px;
    border-radius: 20;
    font-size: 14px;
}


/*------------------------------------------------------------
  レスポンシブ対応：Webchatの表示サイズ
TODO：スマホ表示のときは全画面にする
------------------------------------------------------------ */
@media only screen and (max-width: 768px) {
    [data-cognigy-webchat-root] [data-cognigy-webchat] {

        padding-bottom: env(safe-area-inset-bottom);
        padding-top: env(safe-area-inset-top);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
        /* height: 100vh; → iOS対応なら以下を検討 */
        height: calc(100vh - env(safe-area-inset-bottom));
        /* さらに厳密にはJavaScriptでも補正していく… */
        overflow: auto;
        width: 100%;
        bottom: 0 !important;
        right: 0;
    }
    
    [data-cognigy-webchat-root] .webchat-input {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }
}

/*------------------------------------------------------------
  ヘッダーバー
------------------------------------------------------------
[data-cognigy-webchat-root] [data-cognigy-webchat].webchat .webchat-header-bar {
    color: #fff;
    background: #08645c;
}
*/

/*------------------------------------------------------------
  ×ボタンの×だけを白にする
------------------------------------------------------------
[data-cognigy-webchat-root] [data-cognigy-webchat].webchat .webchat-header-close-button svg path:first-of-type {
    fill: #ffffff;
}
*/

/*------------------------------------------------------------
  ギャラリー内カード縦サイズ設定
------------------------------------------------------------
[data-cognigy-webchat-root] .webchat-carousel-template-root {
    flex-grow: unset;
    -webkit-box-flex: unset;
}
*/

/*------------------------------------------------------------
  クイックリプライ左揃え設定
------------------------------------------------------------
[data-cognigy-webchat-root] .webchat-quick-reply-template-replies-container {
    text-align: unset;
}
*/

/*------------------------------------------------------------
  メッセージ枠線設定
------------------------------------------------------------
[data-cognigy-webchat-root] .regular-message,
[data-cognigy-webchat-root] .regular-message.bot,
[data-cognigy-webchat-root] .webchat-buttons-template-root,
[data-cognigy-webchat-root] .webchat-quick-reply-template-header-message,
[data-cognigy-webchat-root] .webchat-quick-reply-template-reply,
[data-cognigy-webchat-root] .webchat-carousel-template-frame {
    border: none;
}
*/

/*------------------------------------------------------------
  メッセージ文字色設定
------------------------------------------------------------
[data-cognigy-webchat-root] .regular-message.bot,
[data-cognigy-webchat-root] .webchat-buttons-template-header,
[data-cognigy-webchat-root] .webchat-buttons-template-button,
[data-cognigy-webchat-root] .webchat-quick-reply-template-header-message,
[data-cognigy-webchat-root] .webchat-quick-reply-template-reply,
[data-cognigy-webchat-root] .webchat-carousel-template-title,
[data-cognigy-webchat-root] .webchat-carousel-template-button {
    color: #333333;
}
*/

/*------------------------------------------------------------
  メッセージ背景色設定
  (通常メッセージ・クイックリプライヘッダなど)
------------------------------------------------------------
[data-cognigy-webchat-root] .regular-message,
[data-cognigy-webchat-root] .regular-message.bot,
[data-cognigy-webchat-root] .webchat-quick-reply-template-header-message,
[data-cognigy-webchat-root] .webchat-quick-reply-template-reply,
[data-cognigy-webchat-root] .webchat-buttons-template-header {
    background-color: #c0e4e4;
}
*/

/*------------------------------------------------------------
  メッセージ背景色設定
  (ボタン・ギャラリーなど)
------------------------------------------------------------
[data-cognigy-webchat-root] .webchat-buttons-template-button,
[data-cognigy-webchat-root] .webchat-carousel-template-title,
[data-cognigy-webchat-root] .webchat-carousel-template-button {
    background-color: rgb(255,255,255);
}
*/

/*------------------------------------------------------------
  ギャラリー左右ボタン常時表示設定
------------------------------------------------------------
[data-cognigy-webchat-root] .carousel .control-prev.control-arrow:before {
    border-right: 8px solid #333333;
    transition: all 0.25s ease-in;
}
*/

/*------------------------------------------------------------
  ギャラリー左右ボタン（前ボタン）のホバー/フォーカス時の色変更
------------------------------------------------------------
[data-cognigy-webchat-root] .carousel .control-prev:hover.control-arrow:before,
[data-cognigy-webchat-root] .carousel .control-prev:focus.control-arrow:before {
    border-right: 8px solid #fff;
}
*/

/*------------------------------------------------------------
  ギャラリー左右ボタン（次ボタン）のデフォルト設定
------------------------------------------------------------
[data-cognigy-webchat-root] .carousel .control-next.control-arrow:before {
    border-left: 8px solid #333333;
    transition: all 0.25s ease-in;
}
*/

/*------------------------------------------------------------
  ギャラリー左右ボタン（次ボタン）のホバー/フォーカス時の色変更
------------------------------------------------------------
[data-cognigy-webchat-root] .carousel .control-next:hover.control-arrow:before,
[data-cognigy-webchat-root] .carousel .control-next:focus.control-arrow:before {
    border-left: 8px solid #fff;
}
*/

/*------------------------------------------------------------
  全Webchatボタンの左寄せ & フォントサイズ設定
------------------------------------------------------------
[data-cognigy-webchat-root] button[class*=" webchat-"],
[data-cognigy-webchat-root] button[class^="webchat-"] {
  text-align: left !important;
  font-size: 14px !important;
}
*/

/*------------------------------------------------------------
  エージェントメッセージ内のボタンデザイン
------------------------------------------------------------
[data-cognigy-webchat-root] div[class^="webchat-message-row agent cognigy-webchat-"] button {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0) !important; 
    cursor: pointer; 
    border: 1px solid rgb(0, 0, 0) !important; 
    height: 60px !important; 
    padding: 8px 16px; 
    border-radius: 16px;
}
*/

/*------------------------------------------------------------
  ボタンテンプレートの横幅を90%に
------------------------------------------------------------
[data-cognigy-webchat-root] div[class^="webchat-buttons-template-root cognigy-webchat"] {
    width: 90% !important;
}
*/

/*------------------------------------------------------------
  中央寄せになってしまうところを強制左寄せにする (未使用)
------------------------------------------------------------
[data-cognigy-webchat-root] div.webchat-message-row div.webchat-buttons-template-root {
    text-align:left !important;
}
*/

/*------------------------------------------------------------
  Imageの画像サイズ
  ※CognigyのWebChatのDynamic Image Aspect RatioをONにしておく必要あり
------------------------------------------------------------
[data-cognigy-webchat-root] .webchat-media-template-image {
    width: 100%;
    max-width: 250px !important;
    height: auto;
}
*/

/*------------------------------------------------------------
  入力欄のPersistentメニューアイテムの背景色 (未使用)
------------------------------------------------------------
[data-cognigy-webchat-root] button.webchat-input-persistent-menu-item {
    background-color: #c0e4e4 !important;
}
*/

/*------------------------------------------------------------
  チャットボットアバター
------------------------------------------------------------
[data-cognigy-webchat-root] [data-cognigy-webchat].webchat .webchat-avatar.bot {
    flex-basis: 30px;
    height: 28px;
}
*/

/*------------------------------------------------------------
  アバターの上辺を親要素の上辺に揃える
------------------------------------------------------------
[data-cognigy-webchat-root] .webchat-message-row.bot {
    align-items: flex-start;
}
*/

/*------------------------------------------------------------
  ユーザーアバター（非表示）
------------------------------------------------------------*/
[data-cognigy-webchat-root] .webchat-avatar.user {
    display: none;
}

/*------------------------------------------------------------
  チャット開始ボタン
------------------------------------------------------------*/
[data-cognigy-webchat-root] .cognigy-webchat-yg72nb,
[data-cognigy-webchat-root] .cognigy-webchat-yg72nb.active, 
[data-cognigy-webchat-root] .cognigy-webchat-yg72nb:hover {
    /* webサイト事業者様へ
       以下のchat-start.pngへのパスを、このcssファイルからの相対パスまたは、絶対パスに書き換えてください。
    */
    background-image: url(chat-start.png);
    width: 200px;
    bottom: 80px;
    right: 30px;
    border-radius: 0%;
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------
  レスポンシブ対応：チャット開始ボタン
------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    [data-cognigy-webchat-root] .cognigy-webchat-yg72nb,
    [data-cognigy-webchat-root] .cognigy-webchat-yg72nb.active, 
    [data-cognigy-webchat-root] .cognigy-webchat-yg72nb:hover {
        /* webサイト事業者様へ
        以下のchat-start.pngへのパスを、このcssファイルからの相対パスまたは、絶対パスに書き換えてください。
        */
        background-image: url(chat-start.png);
        width: 200px;
        bottom: 80px;
        right: 30px;
        border-radius: 0%;
        background-size: cover;
        background-position: center;
    }
}

/*------------------------------------------------------------
  チャット開閉ボタンの位置調整
------------------------------------------------------------*/
[data-cognigy-webchat-root] button[data-cognigy-webchat-toggle] {
  right: 30px;
  bottom: 80px;
}

/*------------------------------------------------------------
  チャット開始ボタンのデフォルトの画像を消す
------------------------------------------------------------*/
[data-cognigy-webchat-root] .webchat-toggle-button.cognigy-webchat-yg72nb svg {
    display: none;
